.wrapper {
    height: 700px;
    overflow: hidden;
}

.background {
    width: 100%;
    opacity: 0.4;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.film {
    max-width: 1000px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    padding-top: 2%;
}

.poster {
    width: 30%;
    overflow: hidden;
}

.content {
    width: 60%;
    padding-left: 2%;
    line-height: 1.2em;
}

h2 {
    margin-top: 0;
}