.main-wrapper {
    width: 100%;
    color: white;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    background-size: cover;
    width: 100%;
    padding-top: 50px;
    
}

.poster-wrapper{
    height: 590px;  
    overflow: hidden;
}



.poster img {
    width: 100%;
    position: relative; 
}

.blue-layout {
    position: absolute;
    top: 143px;
    right: 0;
    z-index: 1;
    background-color: rgba(5, 32, 76, 0.9);
    height: 590px;
    width: 100%;
}

.content-wrapper { 
    position: absolute;
    top: 183px;
    z-index:2;
    width: 100%;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    opacity: 1;
    
}

.image {
    width: 300px;
    max-height: 450px;
}

 img {
    width: 100%;
    height: auto;
}

.wrapper .content {
    width: 700px;
    padding: 0 2% ;
    line-height: 1.4em;
}

h1 {
    padding-top: 10px;
    padding-bottom: 20px;
}

.discription {
    min-height: 230px;
}

.discription h3, footer h3 {
    padding-bottom: 5px;
}

header span{
    display: block;
}

.button-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.credites-job {
    display: flex;
    flex-wrap: wrap;
}

.credites-job > div  {
   width: 33.333333%;
   padding-bottom: 2%;
}

.credites-job a {
    color: white;
    text-decoration: none;
}

.credites-job > div p {
    margin: 0;
}

.credites-job > div span {
    font-size: 0.8em;
}

.addition-wrapper{
    background-color: #fff;
    width:1000px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;;
}


mat-tab-group {
    width: 70%;
    color: black;
}

.info-group {
    width: 30%;
    color: black;
    padding-top: 1.5%;
    padding-left: 3%;
}

.info-group .header {
    display: block;
    padding-bottom: 5px;
}

.info-group > span {
    display: block;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.50);
    margin-bottom: 10px;
}

.info-group p {
    font-size: 0.9em;
    margin-bottom: 0;
}

.actor-container {
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-container {
    width: 49%;
}

.addition-wrapper .person {
    width: 15.8333333%;
    box-sizing: border-box;
    margin-bottom: 1%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.actor-container .content {
    padding: 2%;
}

.actor-container .content span {
    display: inline-block;
    font-size: 0.8em;
}

.poster img {
    width: 100%;
    height: auto;
}

.poster-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2%;;
    justify-content: space-between;
}

.poster-view {
    width: 24%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 2%;
    overflow: hidden;
    max-height: 257px;
}

.poster-view img {
    width: 100%;
    min-height: 257px;
}

.poster-view span {
    display: block;
    padding: 2% 4% 4% 4%;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.50);
}

mat-spiner {
    position: absolute;
    left: 50%;
    color: #f4f4f4;
}

.gag :first-child {
    margin-top: 48px;
    width: 100%;
    height:590px;
    background-color: rgb(23, 23, 61, 0.2);
}

.gag :last-child {
    width: 100%;
    height: 100px;
}

mat-spinner {
    position: absolute;
    top: 30%;
    left: 47%;
  }
