.main-wrapper {
  background-color: #f4f4f4;
  font-family: 'Source Sans Pro', Arial, sans-serif;

}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.info-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  opacity: .4;
  background-color: #424242;
}

h2 {
  color: white;
  text-shadow:black 0 0 4px;
}


.wrapper h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.movies, .second-line {
  display: flex;
}

.popular, .upcoming {
  width: 50%;
}


.first-line {
  height: 281px;
  position: relative;
}

.first-line .title {
  position:absolute;
  top:10px;
  left: 15px;
  color:white;
  font-size: 0.9em;
  text-shadow:black 0 0 2px;
  letter-spacing: 1px;
}


.first-line img {
  width: 100%;
  height: auto;
}

.second-line div {
  height: 141px;
  position: relative;
}

.second-line .title {
  position:absolute;
  top:10px;
  left: 15px;
  color:white;
  font-size: 0.9em;
  text-shadow:black 0 0 2px;
  letter-spacing: 1px;
}

.second-line div img {
  width: 100%;
  height: auto;
}

.actors {
  margin-bottom: 50px;
}

.actors .content {
  display: flex;
}

 .actor {
  width: 11.11111%
}

.actor-img {
  max-height: 140px;
  overflow: hidden;
  position:relative;
}

.actor-name {
  position: absolute;
  top: 0px;
  left: 0px;
  color:white;
  font-size: 0.8em;
  text-shadow:black 0 0 2px;
}

.actor img {
  width: 100%;
  height: auto;
}
mat-spinner {
  position: absolute;
  top: 30%;
  left: 47%;
}

.movies a {
  color: black;
  text-decoration: none;
}


  







