<div class="main-wrapper">
    <section class="info-line">
        <h2>Фильмы</h2>
    </section>
    <div class="wrapper">
        <mat-spinner *ngIf="isLoading"></mat-spinner>

        <section class="movies">
            <div class="popular">
                <div class="title">
                    <a mat-button routerLink="/movie"><h3>Популярные фильмы</h3></a>
                </div>
                <div class="content">
                    <div class="first-line">
                        <img [src]="firstPopularFilm.backdropPath" alt="{{firstPopularFilm.title}}">
                        <div class="title">{{firstPopularFilm.title}}</div>
                    </div>
                    <div class="second-line">
                        <div>
                            <img [src]="secondPopularFilm.backdropPath" alt="{{secondPopularFilm.title}}">
                            <div class="title">{{secondPopularFilm.title}}</div>
                        </div>
                        <div>
                            <img [src]="thirdPopularFilm.backdropPath" alt="{{thirdPopularFilm.title}}">
                            <div class="title">{{thirdPopularFilm.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="now-playing">
                <div class="title">
                    <a mat-button routerLink="/movie"><h3>В кинотеатрах</h3></a>
                </div>
                <div class="content">
                    <div class="second-line">
                        <div>
                            <img [src]="secondNowFilm.backdropPath" alt="{{secondNowFilm.title}}">
                            <div class="title">{{secondNowFilm.title}}</div>
                        </div>
                        <div>
                            <img [src]="thirdNowFilm.backdropPath" alt="{{thirdNowFilm.title}}">
                            <div class="title">{{thirdNowFilm.title}}</div>
                        </div>
                    </div>
                    <div class="first-line">
                        <img [src]="firstNowFilm.backdropPath" alt="{{firstNowFilm.title}}">
                        <div class="title">{{firstNowFilm.title}}</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="actors">
            <div class="title">
                <a mat-button routerLink="/actors"><h3>Актеры</h3></a>
            </div>
            <div class="content">
                <div class="actor" *ngFor="let actor of actorList">
                    <img src="{{actor.posterPath}}" alt="actor.title">
                    <div class="actor-name">{{actor.title}}</div>
                </div>
            </div>
        </section>
    </div>

</div>