.main-wrapper {
  background-color: #f4f4f4;
  font-family: 'Source Sans Pro', Arial, sans-serif;

}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.info-line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  opacity: .4;
  background-color: #424242;
}


h2 {
  color: white;
  text-shadow:black 0 0 4px;
}


.wrapper h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.list-title a, .title a {
  text-decoration: none;
  color: black;
}

#carousel-container {
  width: 100%;
  margin: 5em auto;
  padding: 0;
  background:#fff;
}

.carousel-films {
  width: 198px;
  height: 278px;
}


.carousel-films span {
  display: block;
  padding: 1em 2em;
}

#left, #right { 
  margin: 10px;
  
}

.arrow {
  cursor: pointer;
}

.movies, .second-line, .row {
  display: flex;
}

.popular, .upcoming, .list-title, .block, .items {
  width: 50%;
}


.first-line {
  height: 281px;
  position: relative;
}

.first-line .title {
  position:absolute;
  bottom: 10px;
  left: 15px;
  color:white;
  font-size: 0.9em;
  text-shadow:black 0 0 2px;
  letter-spacing: 1px;
  
}


.first-line img {
  width: 100%;
  height: auto;
}

.second-line div {
  height: 141px;
  position: relative;
}

.second-line .title {
  display: inline-block;
  height: 20px;
  position:absolute;
  top:115px;
  left: 15px;
  color:white;
  font-size: 0.9em;
  text-shadow:black 0 0 2px;
  letter-spacing: 1px;
}

.second-line div img {
  width: 100%;
  height: auto;
}

.carousel-gag {
  width: 996px;
  height: 278px;
  display: flex;
}

.carousel-gag div {
  width: 20%;
  height: 100%;
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
  background-color: rgb(23, 23, 61, 0.2);
}

.gag {
  display: flex;
  width: 100%;
  
}

.item {
  height: 281px;
  width: 100%;
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
  background-color: rgb(23, 23, 61, 0.2);
}

.items {
  height: 141px;
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
  background-color: rgb(23, 23, 61, 0.2);
}


mat-spinner {
  position: absolute;
  top: 30%;
  left: 47%;
}


  







