<div class="main-wrapper">
    <div class="wrapper">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <nav>
            <div class="title">
                <a mat-button routerLink="/movie">News of film distribution</a>
            </div>
            <div class="title">
                <a mat-button routerLink="/actors">Actors</a>
            </div>
        </nav>

        <div class="main-container ">
            <div class="container ">
                <div class="films ">
                    <div *ngFor="let film of filmList " class="items ">
                        <div class="item ">
                            <img src="{{film.posterPath | transformPath: 185}} " alt="film.title ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container ">
                <div class="actors ">
                    <div class="items " *ngFor="let actor of actorList ">
                        <div class="item ">
                            <img src="{{actor.posterPath | transformPath: 185}} " alt="film.title ">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>