.main-wrapper {
    background-color: #f4f4f4;
    margin-top: 7.8%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
  }

  .wrapper {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      box-sizing: border-box;
  }

  .wrapper section {
      width: 50%;
      margin: 0;
  }

  .wrapper title {
      padding: 0;
  }

  .movie .second-line {
      display:flex; 
      flex-wrap: wrap;
  }

  .first-line{
    margin-bottom: -4px;
  }

  .second-line div img {
      width: 250px;
      height: 100%;
  }

  .person .content {
      display: flex;
      flex-wrap:wrap;
  }

  .person .content div {
      display: flex;
      justify-content: center;
      overflow: hidden;
      width: 33%;
      max-height: 212px;
      flex-wrap: wrap;
  }

  .person img {
      max-height: 250px;
  }

  .wrapper a {
      padding: 0;
      text-decoration: none;
      color: black;
  }







