.wrapper {
    background-color: #f4f4f4;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    padding-top: 50px;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    padding-top: 10px;
    padding-bottom: 15px;
}

h4 {
    margin-bottom: 5px;
}

.poster-container {
    display: flex;
}

.poster {
    width: 30%;
    overflow: hidden;
}

.content {
    width: 70%;
    padding-left: 2%;
    line-height: 1.2em;
}

.info-container {
    display: flex;
    box-sizing: border-box;
}
.actor-info {
    width: 30%;
    padding-left: 1%;
}

.actor-details {
    width: 70%;
    padding-left: 2%;
}

.actor-info span, .info-wrapper span {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.50);
}

.actor-info p {
    margin-bottom: 0;
}

.actor-info span {
    display: block;
    padding-bottom: 10px;
}

.actor-details-poster {
    display: flex;
}

.actor-details-poster .image {
    width: 24.25%;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.actor-details-poster .img {
    width: 100%;
    height: auto;
}

.actor-details-poster img:hover {
    transform: scale(1.06,1.06);
    transition-timing-function: ease-out;
    transition-duration: 550ms;
}

.margin {
    margin-bottom: 500px;
}




