.example-icon {
    padding: 0 5px;
  }
  
.example-spacer {
    flex: 1 1 auto;
}

.toolbar-color {
    background-color: #424242;
    color:white;
}

.nav, .exit {
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.search {
    max-width: 1190px;
    margin: 0 auto;
}
