<header>
  <div class="container">
    <nav>
      <div class="left-menu-block">
        <img class="logo" src="https://www.themoviedb.org/assets/1/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg"
          alt="">
        <ul class="top-menu" *ngIf="isShow">
          <li><a routerLink="/main" routerLinkActive="active">Главная</a></li>
          <li><a routerLink="/movie/popular" routerLinkActive="active">Фильмы</a>
            <ul class="submenu">
              <li><a routerLink="/movie/popular">Популярные</a></li>
              <li><a routerLink="/movie/upcoming">Ожидаемые</a></li>
              <li><a routerLink="/movie/top_rated">С высшим рейтингом</a></li>
              <li><a routerLink="/movie/now_playing">В кинотеатрах</a></li>
            </ul>
          </li>
          <li><a routerLink="/actors" routerLinkActive="active">Актеры</a>
            <ul class="submenu">
              <li><a routerLink="/actors" routerLinkActive="active">Актеры</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="right-menu-block" *ngIf="isShow">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="example-icon">account_circle</mat-icon>
          {{userName}}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>list</mat-icon>
            <a routerLink="/movie/my-list/favorite">Мои фильмы</a>
          </button>
          <button mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <a routerLink="/login" routerLinkActive="active" (click)="logOut()">Выйти</a>
          </button>
        </mat-menu>
      </div>
    </nav>
  </div>
</header>

<div class="search-block">
  <div class="container">
    <app-search class="example-container"></app-search>
  </div>
</div>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div class="row">
    <div></div>
    <div></div>
    <div></div>
  </div>
</footer>