.container {
    max-width: 1024px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

nav, .left-menu-block, .right-menu-block, footer .row {
    display: flex;
    align-items: center;
    width: 100%;
}


/******************header********************/

header {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background-color: #18243f;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 10;
}

.right-menu-block {
    justify-content: flex-end;
}

.logo {
    width: 81px;
    height: 72px;
    display: block;
    margin: 10px 0;
}

.top-menu  {
    display: flex;
    list-style: none;
    align-items: center;
}

.top-menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 6px;
    
}

.top-menu ul  a {
    display: block;
    text-decoration: none;
    color: #7a7a7a;
    font-weight: bold;
    font-size: 0.8em;
    padding: 12px 6px;
    text-transform:none;
}

.submenu {
    visibility: hidden;
    position: absolute;
    list-style: none;
    top: 50px;
    display: flex;
    padding: 0; 
}

.submenu a{
    display: block;
    text-decoration: none;
    color: #01d277;
    font-size: 0.8em;  
}

.submenu a{
    padding: 12px 6px;
}


.right-menu-block  > button {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: auto;
}

button a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

.top-menu a:hover {
    color: #01d277;
}

.top-menu ul a:hover {
    color: #01d277;
}

.top-menu li:hover .submenu  {
    visibility: visible;
}

/*********************main*****************/

.search-block {
    border-bottom: 1px solid #dedede;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top:92px;
    z-index:10;
}

main {
    background-color: #f4f4f4;
}

/*********************footer***************/

footer{
    background-color: #424242;
    margin-top: 50px;
}

.row div {
    width: 33.3333333333%;
    padding: 17px 0;
}
















  
