mat-toolbar {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.example-icon {
    padding: 0 5px;
  }
  
.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #424242;
    color:white;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.nav, .exit {
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.wrapper {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 64px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
}

.search {
    max-width: 1000px;
    margin: 0 auto;
}
