<div class="container">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Film Catalog</span>
      <span class="example-spacer"></span>
      <div class="nav" *ngIf="isShow">
        <a mat-button *ngFor="let link of links" [routerLink]="link.path" [routerLinkActive]="link.active">
          <mat-icon class="example-icon">{{link.icon}}</mat-icon>{{link.label}}
        </a>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="example-icon">account_circle</mat-icon>
          {{userName}}
        </button>
        <mat-menu #menu="matMenu" class="user-tab">
          <div class="div">
            <a mat-button routerLink="/movie/mylist">
              <mat-icon class="example-icon">list</mat-icon>Мои фильмы
            </a>
          </div>
          <div>
            <a mat-button routerLink="/login" routerLinkActive="active" (click)="logOut()">
              <mat-icon class="example-icon">power_settings_new</mat-icon>Log out
            </a>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="wrapper">
    <div class="search">
      <app-search class="example-container"></app-search>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer"></div>