<div class="container">
  <mat-toolbar>
    <mat-toolbar-row>
      <span class="title">Film Catalog</span>
      <span class="example-spacer"></span>
      <div class="nav" *ngIf="isShow">
        <a mat-button routerLink="/main" routerLinkActive="active">Главная</a>
        <a mat-button routerLink="/movie/popular" routerLinkActive="active">Фильмы</a>
        <a mat-button routerLink="/actors" routerLinkActive="active">Актеры</a>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="example-icon">account_circle</mat-icon>
          {{userName}}
        </button>
        <mat-menu #menu="matMenu" class="user-tab">
          <div class="div">
            <a mat-button routerLink="/movie/my-list/favorite">
              <mat-icon class="example-icon">list</mat-icon>Мои фильмы
            </a>
          </div>
          <div>
            <a mat-button routerLink="/login" routerLinkActive="active" (click)="logOut()">
              <mat-icon class="example-icon">power_settings_new</mat-icon>Log out
            </a>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="wrapper">
    <div class="search">
      <app-search class="example-container"></app-search>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer"></div>