.main {
margin-bottom: 20px;
}
.card-item {
  width: 300px;
}

.menu-card {
  padding: 0px;
}

.menu-toolbar {
  background-color: white;
  font-size: 18px;
  height: 70px;
}

.example-spacer {
  flex: 1 1 auto;
}
.container {
  display: flex;
  justify-content:center;
  padding-left: 10%;
  padding-right: 10%;
}
.wraper {
  width: 1574px;
  margin: auto;
}
.example-form-field {
  width: 200px;
}
.search-input {
  width: 300px;
}
.add-item {
    position: absolute;
    left: 45%;
    width: 175px;
    text-align: center;
}
.search-input {
  width: 250px;
}

.search-btn {
  position: absolute;
  top: 10px;
}
