<div class="main-wrapper">
  <div class="wrapper">
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <div class="header" *ngIf="kindOfFilmsList === 'popular'">
      <h3>Популяные фильмы</h3>
    </div>
    <div class="header" *ngIf="kindOfFilmsList === 'upcoming'">
      <h3>Ожидаемые фильмы</h3>
    </div>
    <div class="header" *ngIf="kindOfFilmsList === 'top_rated'">
      <h3>Фильмы с высшим рейтингом</h3>
    </div>
    <div class="header" *ngIf="kindOfFilmsList === 'now_playing'">
      <h3>Сейчас в кинотеатрах</h3>
    </div>
    <div>


      <div class="card-wrapper" *ngIf="!query; else queryBlock">
        <div class="card" *ngFor="let film of filmList">
          <film-item [film]="film" [cardView]="cardView" (favorite)="addToFavorite($event)" (list)="addToWatchlist($event)"></film-item>
        </div>
      </div>

      <ng-template #queryBlock>
        <div class="card-wrapper" *ngIf="isErrorMessage == false ; else errorBlock">
          <div class="card" *ngFor="let film of queryResponse">
            <film-item [film]="film" (favorite)="addToFavorite($event)" (list)="addToWatchlist($event)"></film-item>
          </div>
        </div>


        <ng-template #errorBlock>
          <div class="message">
            <h2>По запросу
              <span>"{{query}}" </span> ничего не найдено... Извините :( </h2>
            <h3>Пожалуйста, попробуйте снова ;)</h3>
            <img src="../assets/img/404 page.png" alt="">
          </div>
        </ng-template>

      </ng-template>
    </div>

    <!-- Заглушка -->
    <div class="row" *ngIf="isLoading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <!-- Заглушка -->

    <div class="wrapper-poginator">

    </div>
  </div>
</div>