.wrapper {
  height: 50px;
}

.search-input {
    width: 250px;
    font-size: 0.9em;
  }

  .search-input span {
    color: #969090
  }

  mat-icon {
    font-size: 100%;
    display: inline-block;
    
  }

  ::ng-deep .mat-input-underline {
    display: none;
}

  input {
    display: inline-block;
  }





