

.search-input {
    width: 250px;
    font-size: 0.9em;
  }

  .search-input span {
    color: #969090
  }

  mat-icon {
    font-size: 100%;
    display: inline-block;
    
  }

  input {
    display: inline-block;
    padding-bottom: 4px;
  }





