.main-wrapper {
  background-color: #f4f4f4;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

h3{
  padding-top: 15px;
  padding-bottom: 15px;
}
  
.message {
  text-align: center;
}

.wraper-btn {
  display: flex;
  justify-content: center;
  padding: 50px 50px;
}

mat-spinner {
  position: absolute;
  top: 30%;
  left: 47%;
}

.card-wraper, .gag-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content : space-between;
}

.nested-card-wraper, .gag  {
  width: 19.2%;
  height: 257px;
}

.gag  {
  background-color: rgb(23, 23, 61, 0.2);
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
}
  