<app-search class="example-container" [item]="viewList" (update)="searchQuery($event)">
</app-search>

<mat-spinner *ngIf="isUploaded"></mat-spinner>

<div class="card-wraper" *ngIf="!query  || query.length < 3; else queryBlock">
  <div class="nested-card-wraper" *ngFor="let actor of actorList">
    <app-actor-item [actor]="actor"></app-actor-item>
  </div>
</div>

<ng-template #queryBlock>
  <div class="card-wraper" *ngIf="queryResponse.length >= 3 || query.length > 3; else elseBlock">
    <div class="nested-card-wraper" *ngFor="let actor of queryResponse">
      <app-actor-item [actor]="actor"></app-actor-item>
    </div>
  </div>

  <ng-template #elseBlock>
    <div *ngIf="!isUploaded" class="message">
      <h2>По запросу
        <span>"{{query}}" </span> ничего не найдено... Извините :( </h2>
      <h3>Пожалуйста, попробуйте снова ;)</h3>
      <img src="../assets/img/404 page.png" alt="">
    </div>
  </ng-template>
</ng-template>

<div class="wraper-btn" *ngIf="!query">
  <button mat-button class="add-item" (click)="addPage()">Добавить еще</button>
</div>