.wrapper {
  margin-bottom: 8%;
  font-size: 0.9em;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.poster{
  width: 100%;
  height: 228px;
  overflow: hidden;
}

.poster img {
  width: 100%;
  height: auto;
  vertical-align: center;
}

.content {
  height: 24px;
  padding-left: 6%;
  padding-bottom: 6%;
}

.content p {
  margin-top: 5px;
  margin-bottom: 0;
}

.content span {
  display: inline-block;
  color: rgba(0, 0, 0, 0.50);
}

.poster img:hover {
  transform: scale(1.06,1.06);
  transition-timing-function: ease-out;
  transition-duration: 550ms;
}