.example-card {
    text-align: left;
    max-height: 685px;
    margin-top: 16px;
    margin-bottom: 10px;
    padding: 0;
    width: 100%
  }
  .content {
    min-height: 100px;

  }
  .content:hover {
    white-space: normal;
  }

  .card-img {
    height: 350px;
    overflow: hidden;
  }

  a{
    text-decoration: none;
    color: black;
  }