<mat-card class="example-card">
    <div class="card-img">
        <a [routerLink]="[actor.id]">
            <img mat-card-image src="{{actor.posterPath | transformPath: 500}}" alt="{{actor.title}}">
        </a>
    </div>
    <mat-card-header>
        <mat-card-title>
            <a [routerLink]="[actor.id]">
                <h3>{{actor.title}}</h3>
            </a>
        </mat-card-title>
        <mat-card-title>Рейтинг: {{actor.voteAverage | cutRating}}</mat-card-title>
    </mat-card-header>

</mat-card>