.login-wrapper {
    margin: 3% auto;
    width: 300px;
    padding: 1%;
}

.login-group mat-form-field {
    width: 100%;
}

.login-group button{
    display: block;
    width: 100%;
    margin: 20% auto;
}

.title span {
    display: inline-block;
    padding-bottom: 4%;
}
