<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{film.title}}</mat-card-title>
        <mat-card-subtitle>Релиз: {{film.releaseDate}}</mat-card-subtitle>
        <mat-card-subtitle>Руйтинг: {{film.voteAverage}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{film.posterPath}} alt={{film.title}}>
    <mat-card-content>
        <p class="content">
            {{film.overview | cutDescription}}
        </p>
        <div class="container">
            <button mat-button>Подробнее</button>
            <button mat-button>{{isFavorite ? unCheck : check}}</button>
        </div>
    </mat-card-content>
</mat-card>
