.example-card {
    max-width: 350px;
    text-align: left;
  }
  .content {
    min-height: 100px;

  }
  .content:hover {
    white-space: normal;
  }
  buttom {

    position: absolute;
    left: 50%;
  }
  .yellow-color {
    background-color:white;
    color:black;
  }
  .container {
    display: flex;
    justify-content:center;
  }
  