.wrapper {
  display: flex;
}

.wrapper .img {
  width: 194px;
  max-height: 291px;
  min-height: 291px;
  overflow: hidden;
}

.wrapper .img img {
  width: 100%;
  height: auto;
}

.wrapper .content {
  background-color: #fff;
  width: 60%;
  padding: 0;
}

header {
  height: 35%;
  padding: 5% 5%;
}

header a {
  padding-bottom: 3%;
}

header span {
  display: inline-block;
}

section {
  height: 50%;
  padding: 0 5%;
}

.discription {
  min-height: 272px;
}

footer {
  height: 15%;
  padding: 0 5%;
  display: flex;
}

header, section, footer {
  box-sizing: border-box;
}

header span{
  display: block;
}

header span, section, footer a {
  font-size: 0.8em;
  color: rgb(141, 137, 137)
}


footer {
  border-top: 1px solid rgb(184, 182, 182);
  display: flex;
  align-items: center
}

footer a {
  color: rgb(99, 96, 96);
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

.content {
  padding: 5% 0;
}

.link {
  width: 50%;
  text-align: left;
}

.button-group {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.mat-button{
  width: 40px;
}

/* Альбомное отображение */

.album-image-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.album-image-wrapper img {
  width: 100%;
  min-height: 200px;
}

.album-image-wrapper a {
  height: 200px;
}

.album-film-title{
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 0.9em;
  text-shadow:black 0 0 2px;
}

.album-content{
  display: flex;
}

.album-content .info-group, .album-content .button-group {
  width: 50%;
  box-sizing: border-box;
  padding: 2%;
}


.album-content .info-group span {
  display: inline-block;
  font-size: 0.8em;
}

.img img:hover {
  transform: scale(1.06,1.06);
  transition-timing-function: ease-out;
  transition-duration: 550ms;
}

.album-image-wrapper img:hover {
  transform: scale(1.06,1.06);
  transition-timing-function: ease-out;
  transition-duration: 550ms;
}



