.main-wrapper, mat-paginator, .wrapper-poginator  {
  background-color: #f4f4f4;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.card-wrapper, ng-template {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.card {
  width: 49%;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.header{ 
  padding-top: 15px;
  padding-bottom: 15px;
}

h3 {
  padding:0;
  margin: 0;
}

.message {
  text-align: center;
}


.wrapper-poginator {
  display: flex;
  justify-content: flex-end;
}














